
<div class="container" style="max-width: 700px;">
    <%= form_with model:@project, :class=>"form-group", local: true do |form| %>
    <% if @project.errors.present? %>
    <%= @project.errors.full_messages.join(', ')%>
    <% end %>
        <%= label_tag :title %>
        <div class="input-group">
            <%= form.text_field :title, :class=>'form-control', :required=>true %>
         </div>
        <%= label_tag :description %>
        <div class="input-group">
            <%= form.text_area :description, cols:50 , rows:5,  :class=>'form-control', :required=>true %>
         </div>
        <%= label_tag :due_date %>
        <div class="input-group">
            <%= form.text_field :due_date, :class=>'form-control' %>
         </div>
        
         <br>
         <%=form.submit class: 'btn btn-outline-primary' %> 
        <% end %>
        <br><br>
        

</div>